table, tr, th, td{
    border:1px solid black;
  }
  .action {
      width: 200px;
  }
  .blogBody {
    text-overflow: ellipsis;   /* IE, Safari (WebKit) */
    overflow: hidden;              /* don't show excess chars */
  }
  a {
      text-decoration: none;
      border: 1px solid red;
      background-color: chocolate;
      border-radius: 5px;
      color: white;
  }

  a:hover {
    background-color: brown;
}


/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    /* background-color: ;
    color: white; */
  }
  

  label {
      width: 100px;
      display: inline-block;
  }
  input, textarea {
      width: 300px;
  }

  textarea {
    height: 200px;
}